.subscribe-button {
	background-color: rgb(199, 46, 46);
	color: white;
	border: none;
	height: 36px;
	width: 105px;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 8px;
}

.subscribe-button:hover {
	opacity: 0.8;
}

.subscribe-button:active {
	opacity: 0.5;
}

.join-button {
	background-color: white;
	border-color: rgb(72, 72, 230);
	border-style: solid;
	border-width: 1px;
	color: rgb(72, 72, 230);
	height: 36px;
	width: 62px;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 8px;
}

.tweet-button {
	background-color: rgb(2, 158, 255);
	color: white;
	border: none;
	height: 36px;
	width: 70px;
	border-radius: 18px;
	font-weight: bold;
	font-size: 15px;
}

.request-button {
	background-color: black;
	border: none;
	color: white;
	height: 30px;
	width: 100px;
	margin-top: 10px;
	font-size: 10px;
}

.add-to-cart-button {
	background-color: rgb(255, 216, 20);
	border: none;
	color: black;
	height: 30px;
	width: 150px;
	margin-top: 10px;
	border-radius: 15px;
	font-size: 15px;
}

.sign-button {
	background-color: rgb(46, 164, 79);
	border: none;
	color: white;
	height: 30px;
	width: 80px;
	margin-top: 10px;
	border-radius: 2px;
	font-size: 15px;
}

.get-started-button {
	background-color: rgb(121, 82, 179);
	border: none;
	color: white;
	height: 30px;
	width: 100px;
	margin-top: 10px;
	margin-right: 8px;
	border-radius: 2px;
	font-size: 15px;
}

.download-button {
	background-color: white;
	border: 1px solid rgb(108, 117, 125);
	color: rgb(108, 117, 125);
	height: 30px;
	width: 120px;
	margin-top: 10px;
	border-radius: 2px;
	font-size: 15px;
}

.apply-company-button {
	background-color: rgb(10, 102, 194);
	/* border: none; */
	border: 1px solid rgb(85, 53, 197);
	color: white;
	height: 30px;
	width: 220px;
	margin-top: 10px;
	margin-right: 8px;
	border-radius: 15px;
	font-size: 15px;
}

.save-button {
	background-color: white;
	border: 1px solid rgb(10, 102, 194);
	color: rgb(10, 102, 194);
	height: 30px;
	width: 80px;
	margin-top: 10px;
	border-radius: 15px;
	font-size: 15px;
}