p {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

.video-title {

	font-weight: bold;
	font-size: 18px;
	width: 350px;
	line-height: 24px;
	margin-bottom: 5px;
}

.video-stats {

	font-size: 14px;
	color: rgb(96, 96, 96);
	margin-bottom: 20px;
}

.video-author {

	color: rgb(96, 96, 96);
	margin-bottom: 20px;
}

.video-description {

	color: rgb(96, 96, 96);
	font-size: 14px;
	width: 350px;
	line-height: 22px;
	margin-bottom: 100px;
}

.apple-text {
	margin-bottom: 50px;
	font-size: 14px;
	background-color: rgb(227, 65, 64);
	color: white;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}

/* .apple-text:hover {
	text-decoration: underline;
} */
.shop-link {
	margin-left: 12px;
	cursor: pointer;
}

.shop-link:hover {
	text-decoration: underline;
}


.tahoma-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.biggest-text {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.sales-text {
	font-style: italic;
	color: #fa3b3b;
	font-size: 16px;
}

.verdana-html-text {
	margin-top: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.verdana-beginner-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	color: rgb(163, 164, 165);
}

.verdana-course-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 10px;
}

.get-button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	border-radius: 3px;
	color: white;
	border: none;
	background-color: green;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.shopping-text {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

.see-how-text {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}

.link-learn {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: rgb(70, 153, 243);
}

.new-mac-text {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: orange;
}

.mac-text {
	text-align: center;
	margin-top: 5px;
	font-size: 16px;
	font-weight: bold;
}

.super-mac-text {
	text-align: center;
	/* margin-top: 5px; */
	font-size: 22px;
	font-weight: bold;
	/* vertical-align: middle; */
}

.from {
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
	margin-bottom: 5px;
}

.buy-button {
	border: none;
	background-color: blue;
	color: white;
	font-size: 12px;
	border-radius: 10px;
	width: 50px;
	display: block;
	margin: 0 auto;
}

.number-one-text {
	margin-top: 10px;
	font-size: 20px;
}

.usd-span {
	color: rgb(163, 164, 165);
	font-size: 16px;
}

.number-eighty-text {
	color: green;
	font-size: 14px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.after-text {
	font-size: 14px;
	color: rgb(163, 164, 165);
}

.number-red-text {
	font-size: 14px;
	color: #fa3b3b;
}

.free-code-text {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

.dog-free-text {
	color: rgb(163, 164, 165);
	font-weight: normal;
}

.as-web-text {
	margin-top: 3px;
	font-size: 14px;
}

.here-text {
	margin-top: 15px;
}

.chp-text {
	color: blue;
}