p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Montserrat;
}

.model-text {
	font-size: 26px;
	font-weight: bold;
	margin-left: 65px;
}

.order-text {
	margin-top: 15px;
	font-size: 16px;
}

.order-text-span {
	text-decoration: underline;
}